body {
    margin: 0;
    padding: 0;
}
#header {
    background-color: white;
    height: 500px;
    background-image: url(image/Art-of-the-Cell-ZikaVirus.webp);
    height: 900px;
    background-repeat: no-repeat;
}
h1 {
    color: aqua;
    padding: 20px;
}
.span {
    background-color: white;
    color: blueviolet;
    border: 10px solid white;
    border-radius: 50px;
}
button {
    color: black;
    background-color: cornflowerblue;
    height: 30px;
    width: 80px;
    border-radius: 50px;
    border: 0px solid cornflowerblue;
}
button a {
    text-decoration: none;
    color: black;
}
.med {
    font-size: 50px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
.request {
    font-size: 130px;
    font-family: 'Times New Roman', Times, serif;
}
.second-para {
    display: flex;
    height: 900px;
}
.image {
    width: 900px;
}
.appoint {
    font-size: 30px;
    padding: 10px;
}
.heal {
    height: 700px;
}
.heal button {
    width: 20%;
    height: 10%;
}
.heal h2 {
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.third-para {
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.covid {
    display: flex;
    width: 900px;
    height: 650px;
    float: right;
}
.choose {
    font-size: 30px;
}
.a-image img {
    width: 1000px;
    display: flex;
    float: left;
    margin: 10px;
}
.about-services {
    height: 650px;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}
.about-services button {
    width: 20%;
    height: 10%;
    font-size: 40px;
}
.info-about {
    text-align: center;
    background-color: cornflowerblue;
}
.info-about a {
    text-decoration: none;
    display: inline-block;
    margin: 20px;
    font-size: 40px;
    color: black;
}
.logo p {
    font-size: 40px;
}
.logo img {
    width: 50px;
    margin: 20px;
}
footer {
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
footer a {
    text-decoration: none;
    margin: 70px;
}
    @media(min-width:319px) and (max-width:480px) {
        body {
            background-color: aliceblue;
            margin: 0;
            padding: 0;
        }
        #header {
            background-image: url(image/Art-of-the-Cell-ZikaVirus.webp);
            width: 500px;
            height: 500px;
        }
        header h1 {
            font-size: 1em;
        }
        header button {
            font-size: 20px;
            margin: 10px;
            background-color: transparent;
        }
        header button a {
            font-size: 20px;
            display: flex;
            float: right;
        }
        .med {
            font-size: 40px;
            margin: 30px;
            padding: 20px;
        }
        .second-para {
            display: block;
            height: 700px;
        }
        .image {
            height: 500px;
            width: 500px;
            display: block;
        }
        .request {
            font-size: 30px;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
        .heal {
            display: block;
            height: 1000px;
        }
        .heal button {
            width: 150px;
            height: 50px;
            margin: 20px;
            background-color: transparent;
            border: solid black;
        }
        .heal button a {
            font-size: 12px;
            font-weight: bold;
        }
        .covid {
            width: 500px;
            height: 500px;
        }
        .heal h2 {
            font-size: 40px;
        }
        .heal p {
            font-size: 30px;
        }
        .choose {
            font-size: 10px;
        }
        .about-services {
            height: 700px;
            display: block;
        }
        .about-services img {
            width: 450px;
            height: 300px;
        }
        .about-services h2 {
            font-size: 40px;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
        .about-services p {
            font-size: 30px;
            font-family: Georgia, 'Times New Roman', Times, serif;
        }
        .about-services button {
            width: 30%;
            height: 8%;
            background-color: transparent;
        }
        .about-services button a {
            font-size: 15px;
        }
        .info-about {
            background-color: rgb(176, 175, 175);
            display: block;
        }
        .info-about a {
            font-size: 10px;
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-weight: bold;
            text-align: center;
        }
        footer {
            font-size: 10px;
            font-family: Arial, Helvetica, sans-serif;
        }
        footer a {
            color: black;
        }
        .logo p {
            font-size: 20px;
        }
        .logo img {
            width: 30px;
        }
    }
    @media (min-width: 481px) and (max-width: 1200px){
        body {
            background-color: beige;
            margin: 0;
            padding: 0;
        }
        #header {
            background-image: url(image/Art-of-the-Cell-Glutamate-Receptors.webp);
            width: 1200px;
        }
        header h1 {
            font-size: 2em;
        }
        header button {
            margin: 20px;
            background-color: transparent;
            font-size: 20px;
        }
        header button a {
            font-size: 20px;
            display: flex;
            float: right;
        }
        .med {
            font-size: 70px;
            margin: 30px;
            padding: 10px;
        }
        .second-para {
            display: block;
            height: 1000px;
        }
        .image {
            height: 700px;
            width: 1200px;
            display: block;
        }
        .request {
            font-size: 50px;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
        .heal {
            display: inline-block;
            height: 700px;
        }
        .heal button {
            width: 200px;
            height: 100px;
            margin: 30px;
            background-color: transparent;
            border: solid black;
        }
        .covid {
            display: inline;
            float: left;
            width: 900px;
            height: 600px;
        }
        .heal h2 {
            font-size: 30px;
        }
        .heal p {
            font-size: 20px;
        }
        .choose {
            font-size: 20px;
        }
        .about-services {
            display: block;
            height: 1000px;
        }
        .about-services img {
            width: 1200px;
            height: 700px;
            float: right;
            margin: 10px;
        }
        .about-services h2 {
            font-size: 30px;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
        .about-services p {
            font-size: 30px;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
        .about-services button {
            width: 205;
            height: 7%;
            background-color: transparent;
            border: 5px solid black;
        }
        .about-services button a {
            font-size: 15px;
        }
        .info-about {
            font-size: 30px;
            background-color: rgb(121, 120, 120);
        }
        .info-about a {
            font-size: 20px;
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-weight: bold;
            text-align: center;
        }
        .logo p {
            font-size: 30px;
        }
        .logo img {
            width: 30px;
        }
        footer {
            font-size: 20px;
            font-family: Arial, Helvetica, sans-serif;
        }
        footer a {
            color: black;
        }
    }
    @media (min-width: 1201px) and (max-width: 1600px){
        body {
            background-color: bisque;
            margin: 0;
            padding: 0;
        }
        #header {
            background-image: url(image/Art-of-the-Cell-ZikaVirus.webp);
            width: 1300px;
        }
        header h1 {
            font-size: 2em;
        }
        header button {
            font-size: 20px;
            margin: 10px;
            background-color: transparent;
        }
        header button a {
            font-size: 20px;
            display: flex;
            float: right;
        }
        .med {
            font-size: 70px;
            margin: 10px;
            padding: 10px;
        }
        .second-para {
            display: inline-block;
            height: 700px;
        }
        .image {
            display: inline-block;
            float: right;
            height: 700px;
            width: 500;
            margin-left: 30px;
        }
        .request {
            font-size: 70px;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
        .heal {
            display: inline-block;
            height: 800px;
        }
        .heal button {
            width: 200px;
            height: 100px;
            margin: 20px;
            background-color: transparent;
            border: 5px solid black;
        }
        .heal button a {
            font-size: 20px;
            font-weight: bold;
        }
        .covid {
            width: 1000px;
            height: 700px;
            float: left;
        }
        .heal h2 {
            font-size: 3\40px;
        }
        .heal p {
            font-size: 25px;
        }
        .choose {
            font-size: 20px;
        }
        .about-services {
            display: block;
            height: 1200px;
        }
        .about-services img {
            width: 1200px;
            height: 900px;
        }
        .about-services h2 {
            font-size: 40px;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
        .about-services p {
            font-size: 30px;
            font-family: Georgia, 'Times New Roman', Times, serif;
        }
        .about-services button {
            width: 30%;
            height: 5%;
            background-color: transparent;
            border: 5px solid black;
        }
        .info-about {
            background-color: rgb(106, 106, 106);
            display: block;
        }
        .info-about a {
            font-size: 20px;
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-weight: bold;
            text-align: center;
            margin: 40px;
        }
        .logo p {
            font-size: 30px;
        }
        .logo img {
            width: 40px;
        }
        footer {
            font-size: 20px;
            font-family: Arial, Helvetica, sans-serif;
        }
        footer a {
            color: black;
        }
    }